<div class = "container">
  <h1>Item#show</h1>
  <%current_user.items.each do |p|%>
    <p>아템이름 : <%=p.name%><br>
    가격 : <%=p.price%><br>
    주재료 : <%=p.material%><br>
    제작기간 : <%=p.period%><br>
    사진 : <img src = "<%=p.url%>" alt="">
    <a href = "/destroy_item/<%=p.id%>">삭제</a>
    <a href = "/update_item/<%=p.id%>">수정</a>
    <a href = "/production_process/<%=p.id%>" >제작과정</a>
    <br></p>
  <%end%>
</div>
