<div class="container">

  <%= form_for(@flea) do |f| %>
      <% if @flea.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@flea.errors.count, 'error') %> prohibited this flea from being saved:</h2>
            <ul>
              <% @flea.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :application_period%><br>
        <%= f.datetime_select :application_start_period %>
      </div>
      <div class="field">
        <%= f.label :application_period %><br>
        <%= f.datetime_select :application_end_period %>
      </div>
      <div class="field">
        <%= f.label :number_of_recruitment %><br>
        <%= f.number_field :number_of_recruitment %>
      </div>
      <div class="field">
        <%= f.label :remark %><br>
        <%= f.text_field :remark %>
      </div>
      <div class="field">
        <%= f.label :city_place %><br>
        <%= f.text_field :city_place %>
      </div>
      <div class="field">
        <%= f.label :deatil_place %><br>
        <%= f.text_field :detail_place %>
      </div>
      <div class="field">
        <%= f.label :event_start_date %><br>
        <%= f.datetime_select :event_start_date %>
      </div>
      <div class="field">
        <%= f.label :event_end_date %><br>
        <%= f.datetime_select :event_end_date %>
      </div>
      <div class="field">
        <%= f.label :entrance_fee %><br>
        <%= f.number_field :entrance_fee %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
