<div class="container">
  <h2>새로운 플리마켓 등록</h2>
  <%= form_for(@flea) do |f| %>
      <% if @flea.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@flea.errors.count, 'error') %> prohibited this flea from being saved:</h2>
            <ul>
              <% @flea.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
<<<<<<< HEAD
        <%= f.label :"플리마켓 명" %><br />
        <%= f.text_field :market_name %>
      </div>
      <div class="field">
        <%= f.label :"접수 시작일시"%><br>
        <%= f.datetime_select :application_start_period %>
      </div>
      <div class="field">
      <%= f.label :"접수 종료일시" %><br>
        <%= f.datetime_select :application_end_period %>
=======
        <%= f.label :application_date%><br>
        <%= f.datetime_select :application_start_date %>
      </div>
      <div class="field">
        <%= f.label :application_date %><br>
        <%= f.datetime_select :application_end_date %>
>>>>>>> 4cf850ea97a02b4957f4ff0e248a53105a2c1f23
      </div>
      <div class="field">
        <%= f.label :"모집 인원" %><br>
        <%= f.number_field :number_of_recruitment %>
      </div>
      <div class="field">
        <%= f.label :"플리마켓 설명" %><br>
        <%= f.text_field :remark %>
      </div>
      <div class="field">
        <%= f.label :"지역" %>
          <%= f.select(:city_place,
          ['서울','인천','대전','대구','부산','광주','울산',
            '경기','충남','충북','전남','전북','경남','경북','제주']) %>
      </div>
      <div class="field">
        <%= f.label :"상세 주소" %><br>
        <%= f.text_field :detail_place %>
      </div>
      <div class="field">
        <%= f.label :"플리마켓 시작일시" %><br>
        <%= f.datetime_select :event_start_date %>
      </div>
      <div class="field">
        <%= f.label :"플리마켓 종료일시" %><br>
        <%= f.datetime_select :event_end_date %>
      </div>
      <div class="field">
        <%= f.label :"참가비" %><br>
        <%= f.number_field :entrance_fee %>
      </div>
      <div class="actions">
        <%= f.submit '마켓 등록하기', :class => 'btn btn-default btn-small btn-rounded' %>
      </div>
  <% end %>
</div>
