<section class="page-header">
  <button id="now_fleas">진행중인 플리마켓</button>
  <button id="future_fleas">행사예정 플리마켓</button>
  <button id="past_fleas">종료된 플리마켓</button>
</section>

<section class="page-title">
  <div class="container">
    <h4 id="title_eng" class="text-uppercase">Today market</h4>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li id="title_ko" class="active">오늘의 마켓</li>
    </ol>
  </div>
</section>
<div class="container">
  <form>
    <div class="form-group col-md-10" style="margin-top: 50px">
      <span>
				<p style="margin-bottom: 0px; font-size:20px;">
					<i class="fa fa-search" aria-hidden="true"></i>검색하기
				</p>
				</span>
      <div class="inline-group">
        <p class="labels">지역</p>
        <input type="radio" name="city" checked="true" value="전체"/>전체<input type="radio" name="city" value="서울"/>서울
        <input type="radio" name="city" value="인천"/>인천 <input type="radio" name="city" value="대전"/>대전
        <input type="radio" name="city" value="대구"/>대구 <input type="radio" name="city" value="부산"/>부산
        <input type="radio" name="city" value="광주"/>광주 <input type="radio" name="city" value="울산"/>울산
        <input type="radio" name="city" value="경기"/>경기 <input type="radio" name="city" value="충남"/>충남
        <input type="radio" name="city" value="충북"/>충북 <input type="radio" name="city" value="전남"/>전남
        <input type="radio" name="city" value="전북"/>전북 <input type="radio" name="city" value="경남"/>경남
        <input type="radio" name="city" value="경북"/>경북 <input type="radio" name="city" value="제주"/>제주
      </div>
      <hr/>
      <div class="inline-group">
        <p class="labels">날짜</p>
        <div class="input-group">
          <% if @search_time.nil? %>
              <%= date_field_tag(:search, :date, value: Date.today.to_s) %>
          <% else %>
              <%= date_field_tag(:search, :date, value: @search_time) %>
          <% end %>
        </div>
      </div>
      <div class="input-group-btn">
        <button type="submit" style="background-color:#fff; border:1px solid black" id="searchbtn" class="btn">
          <span>해당조건으로 검색</span>
        </button>
      </div>
    </div>
  </form>

  <section class="body-content">
    <div class="page-content product-grid">
      <div class="container">
        <% unless @search_flea.nil? %>
            <% @search_flea.each do |p| %>
                <div class="col-md-3">
                  <!--product list-->
                  <div class="product-list">
                    <div>
                      <a href="#">
                        <%= image_tag p.poster_url, size: '260x400' %>
                      </a>
                    </div>
                    <br/>
                    <div class="product-title">
                      <h4>
                        <a href="#"><%= p.name %></a>
                      </h4>
                    </div>
                    <div class="product-title"><%= p.event_start_date %> ~ <%= p.event_end_date %></div>
                    <div class="product-rating">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </section>

</div>
<script>
  $(document).ready(function () {
    $('input[type=date]').css({"line-height": "20px", "margin-top": "10px"});
    $('.labels').css({"margin": "8px 2px 0px", "font-weight": "bold"});
    $('.inline-group').css({"padding": "20px 0px"});
  });

  $(document).ready(function () {
    $("#now_fleas").click(function () {
      $("#title_eng").text("Today market");
      $("#title_ko").text("오늘의 마켓");
    });
    $("#past_fleas").click(function () {
      $("#title_eng").text("Finished market");
      $("#title_ko").text("어제의 마켓");
    });
    $("#future_fleas").click(function () {
      $("#title_eng").text("Oncoming market");
      $("#title_ko").text("내일의 마켓");
    });
  });
</script>
