<%= @current_time %>

<!--body content start-->
        <section class="body-content ">
          <div class="page-content product-grid">
              <div class="container">
          <div class="col-md-3">
              <!--product list-->
              <div class="product-list">
                  <div class="product-img">
                      <a href="#"><img src="img/product/8.jpg" alt=""/></a>
                      <a href="#"><img src="img/product/8-alt.jpg" alt=""/></a>
                      <div class="sale-label">
                          Sale
                      </div>
                  </div>
                  <div class="product-title">
                      <h5><a href="#">OPENWORK TRIMS DRESS</a></h5>
                  </div>
                  <div class="product-price">
                      <del>$279.00</del> $179.99
                  </div>
                  <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <div class="product-btn">
                      <a href="#" class="btn btn-extra-small btn-dark-border  "><i class="fa fa-shopping-cart"></i> Add to cart</a>
                  </div>
              </div>

          </div>

        </div>
      </div>



                                <div class="text-center col-md-12">
                                    <ul class="pagination custom-pagination">
                                        <li><a href="#">Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!--body content end-->



<div id="contents"></div>

<%= link_to 'New Flea', new_flea_path %>

<h1>Listing Fleas</h1>

<table>
  <% @fleas.each do |flea| %>
      <tr>
        <p><%= flea.application_start_date %></p>
        <p><%= flea.application_end_date %></p>
        <p><%= flea.number_of_recruitment %></p>
        <p><%= flea.remark %></p>
        <p><%= flea.city_place %></p>
        <p><%= flea.detail_place %></p>
        <p><%= flea.event_start_date %></p>
        <p><%= flea.event_end_date %></p>
        <p><%= flea.entrance_fee %></p>
        <p><%= link_to 'Show', flea %></p>
        <p><%= link_to 'Edit', edit_flea_path(flea) %></p>
        <p><%= link_to 'Destroy', flea, method: :delete, data: {confirm: 'Are you sure?'} %></p>
      </tr>
  <% end %>
</table>

<br>
