<p id="notice"><%= notice %></p>
<div class = "container">
<h1>Listing Fleas</h1>
<br/>

<label class="col-xs-2 control-label"><b>플리마켓 명으로 검색</b></label>

<table class = "table table-hover">
  <thead>
      <tr>
        <th>플리마켓 명</th>
        <th>모집 시작일자</th>
        <th>모집 종료일자</th>
        <th>모집 인원</th>
        <th>비고</th>
        <th>지역</th>
        <th>상세장소</th>
        <th>행사 시작일자</th>
        <th>행사 종료일자</th>
        <th>참가비</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fleas.each do |flea| %>
          <tr>
            <td><p><%= flea.market_name %> </p></td>
            <td><p><%= flea.application_start_period %></p></td>
            <td><p><%= flea.application_end_period %></p></td>
            <td><p><%= flea.number_of_recruitment %></p></td>
            <td><p><%= flea.remark %></p></td>
            <td><p><%= flea.city_place %></p></td>
            <td><p><%= flea.detail_place %></p></td>
            <td><p><%= flea.event_start_date %></p></td>
            <td><p><%= flea.event_end_date %></p></td>
            <td><p><%= flea.entrance_fee %></p></td>
            <td>
              <p><%= link_to 'Show', flea %></p>
              <p><%= link_to 'Edit', edit_flea_path(flea) %></p>
              <p><%= link_to 'Destroy', flea, method: :delete, data: {confirm: 'Are you sure?'} %></p>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>
</div>
<br>

<%= link_to 'New Flea', new_flea_path %>
