<p id="notice"><%= notice %></p>

<h1>Listing Fleas</h1>
<div class= "container" style = "margin-bottom:30px;">
  <%= form_tag("/flea_by_city_place", method: "get") do %>
      <%= text_field_tag "search_flea_by_city_place",nil,:placeholder => '지역으로 검색하기',:class =>"form-control searchquery" %>
  <% end %>
  <% @search_flea_by_city_place.each do |p| %>
      <%=p.name%>
  <% end %>
</div>

<!--<div class= "container" style = "margin-bottom:30px;">-->
  <!--<%= form_tag("/flea", method: "get") do %>-->
      <!--<%= text_field_tag "search",nil,:placeholder => '날짜로 검색하기',:class =>"form-control searchquery" %>-->
  <!--<% end %>-->
  <!--<% @search.each do |p| %>-->
      <!--<%=p.name%>-->
  <!--<% end %>-->
<!--</div>-->

<table>
  <% @fleas.each do |flea| %>
      <tr>
        <p><%= flea.application_start_period %></p>
        <p><%= flea.application_end_period %></p>
        <p><%= flea.number_of_recruitment %></p>
        <p><%= flea.remark %></p>
        <p><%= flea.city_place %></p>
        <p><%= flea.detail_place %></p>
        <p><%= flea.event_start_date %></p>
        <p><%= flea.event_end_date %></p>
        <p><%= flea.entrance_fee %></p>
        <p><%= link_to 'Show', flea %></p>
        <p><%= link_to 'Edit', edit_flea_path(flea) %></p>
        <p><%= link_to 'Destroy', flea, method: :delete, data: {confirm: 'Are you sure?'} %></p>
      </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Flea', new_flea_path %>
