<p id="notice"><%= notice %></p>

<h1>Listing Fleas</h1>

<table>
  <thead>
    <tr>
      <th>Application period</th>
      <th>Number of recruitment</th>
      <th>Remark</th>
      <th>Place</th>
      <th>Event date</th>
      <th>Entrance fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fleas.each do |flea| %>
      <tr>
        <td><%= flea.application_period %></td>
        <td><%= flea.number_of_recruitment %></td>
        <td><%= flea.remark %></td>
        <td><%= flea.place %></td>
        <td><%= flea.event_date %></td>
        <td><%= flea.entrance_fee %></td>
        <td><%= link_to 'Show', flea %></td>
        <td><%= link_to 'Edit', edit_flea_path(flea) %></td>
        <td><%= link_to 'Destroy', flea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flea', new_flea_path %>
