<p id="notice"><%= notice %></p>

<div class="page-content">
    <div class="container">
        <div class="row">
            <!--post style 3 start-->
            <div class="post-list-aside">
                <div class="post-single">
                    <div class="col-md-5">
                        <div class="post-img title-img">
                            <img src="<%=@flea.poster_url%>" alt=""/>
                            <div class="info">We work together for fun</div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="post-desk">
                            <ul class="post-cat">
                              <h3>
                                <%= "좋아요>< #{@flea.like_flea_markets.count}" %>
                                <%=  likeBtn(@has_like) %>
                              </h3>
                            </ul>
                            <table class="table">

                                <tbody>
                                <tr>
                                    <th scope="row">모집기간</th>
                                    <td><%= @flea.application_start_date %>~<%= @flea.application_end_date %></td>
                                </tr>
                                <tr>
                                    <th scope="row">행사기간</th>
                                    <td><%= @flea.event_start_date %>~<%= @flea.event_end_date %></td>
                                </tr>
                                <tr>
                                    <th scope="row">모집인원</th>
                                    <td><%= @flea.number_of_recruitment %></td>
                                </tr>
                                <tr>
                                    <th scope="row">장소</th>
                                    <td><%= @flea.city_place %> <%= @flea.detail_place %></td>
                                </tr>
                                <tr>
                                    <th scope="row">참가비</th>
                                    <td><%= @flea.entrance_fee %></td>
                                </tr>
                                <tr>
                                    <th scope="row">비고</th>
                                    <td><%= @flea.remark %></td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
            <!--post style 3 end-->
        </div>
    </div>
</div>


<%= link_to 'Edit', edit_flea_path(@flea) %> |
<%= link_to 'Back', fleas_path %>
