<p id="notice"><%= notice %></p>

<h1>
  <%= "좋아요 갯수 #{@flea.like_flea_markets.count}" %>
</h1>

<%= likeBtn(@has_like) %>

<p>
  <strong>Application date:</strong>
  <%= @flea.application_start_date %>
</p>

<p>
  <strong>Application date:</strong>
  <%= @flea.application_end_date %>
</p>

<p>
  <strong>Number of recruitment:</strong>
  <%= @flea.number_of_recruitment %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @flea.remark %>
</p>

<p>
  <strong>city_Place:</strong>
  <%= @flea.city_place %>
</p>

<p>
  <strong>detail_Place:</strong>
  <%= @flea.detail_place %>
</p>

<p>
  <strong>Event start date:</strong>
  <%= @flea.event_start_date %>
</p>

<p>
  <strong>Event end date:</strong>
  <%= @flea.event_end_date %>
</p>

<p>
  <strong>Entrance fee:</strong>
  <%= @flea.entrance_fee %>
</p>

<%= link_to 'Edit', edit_flea_path(@flea) %> |
<%= link_to 'Back', fleas_path %>
