<!--page title start-->
<section class="page-title">
  <div class="container">
    <h4 class="text-uppercase"> Login Register</h4>
  </div>
</section>
<!--page title end-->
<div class="container">
  <div class="col-md-6 col-md-offset-3 login register">
    <div class="text-center">
      <h3>Register</h3>
    </div>
    <%= render 'layouts/error_messages', object: resource %>
    <div class="panel panel-default devise-bs col-xs-12">
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {role: 'form'}) do |f| %>
            <div class="form-group col-xs-12">
              <%= f.label :이메일 %>
              <%= f.email_field :email, autofocus: true, class: 'form-control ', placeholder: 'e-mail 양식을 지켜주세요' %>
            </div>
            <div class="form-group col-xs-12">
              <%= f.label :패스워드 %><br/>
              <%= f.password_field :password, class: 'form-control', placeholder: '6글자 이상으로 구성해주세요' %>
            </div>
            <div class="form-group col-xs-12">
              <%= f.label :패스워드확인 %>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '다시한번 입력해주세요' %>
            </div>
            <div class="form-group col-xs-12">
              <%= f.label :닉네임 %>
              <%= f.text_field :nickname, class: 'form-control', placeholder: '사용하실 닉네임을 입력해주세요' %>
            </div>
            <%= f.submit t('.sign_up', :default => 'Sign up'), class: 'btn btn-small btn-dark-solid full-width btn-rounded' %>
        <% end %>
      </div>
      <div class="text-center">
        <%= render 'devise/shared/links' %>
      </div>
    </div>

  </div>
</div>
