<h3> 모집날짜로 검색 </h3>
<%= form_tag('/search/flea_application_date', method: 'get') do %>
    <div class="input-group">
      <% if @search.nil? %>
          <%= date_field_tag(:search, :date, value: Date.today.to_s) %>
      <% else %>
          <%= date_field_tag(:search, :date, value: @search) %>
      <% end %>
      <div class="input-group-btn">
        <%= button_tag(type: 'submit', class: 'btn btn-warning') do %>
            <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
    </div>
<% end %>

<% @search_flea.each do |p| %>
    <table>
      <tr>
        <p><%= p.application_start_date %></p>
        <p><%= p.application_end_date %></p>
        <p><%= p.number_of_recruitment %></p>
        <p><%= p.remark %></p>
        <p><%= p.city_place %></p>
        <p><%= p.detail_place %></p>
        <p><%= p.event_start_date %></p>
        <p><%= p.event_end_date %></p>
        <p><%= p.entrance_fee %></p>
        <p><%= link_to 'Show', p %></p>
        <p><%= link_to 'Edit', edit_flea_path(p) %></p>
        <p><%= link_to 'Destroy', p, method: :delete, data: {confirm: 'Are you sure?'} %></p>
      </tr>
    </table>
<% end %>
