<!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->

<div class="wrapper">
    <!--page title start-->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-uppercase">공지사항 / FAQ</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">공지사항 / faq</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <!--body content start-->
    <section class="body-content ">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <!--title-->
                        <div class="heading-title-alt border-short-bottom text-center ">
                            <h3 class="text-uppercase">공지사항</h3>
                            <br>
                        </div>
                        <!--title-->
                        <div class="col-md-1"></div>
                        <div class="table-responsive col-md-10">
                            <table class="table cart-table" id="faqTable">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">#</th>
                                        <th style="width:55%;">제목</th>
                                        <th style="width:20%;">올린날짜</th>
                                        <th style="width:15%;">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@notice.each_with_index do |p,index|%>
                                    <tr>
                                        <td><%=index+1%></td>
                                        <td><a href ="/show_notice/<%=p.id%>"><%=p.title%></a></td>
                                        <td><%=p.created_at.strftime("%Y-%m-%d %H:%M")%></td>
                                        <td><%=p.view_count%></td>
                                    </tr>
                                    <%end%>
                                </tbody>
                            </table>
                            <%if user_signed_in? %>
                              <%if current_user.level == "master"%>
                                <a href="/mastermenu/write_notice" class="btn btn-xs btn-light-solid ">공지작성</a>
                              <%end%>
                            <%end%>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!--title-->
                    <div class="heading-title-alt border-short-bottom text-center " style="margin-top:15px;">
                        <h3 class="text-uppercase">도움이 필요하신가요?</h3>
                        <div class="half-txt">민주평화통일자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 국가안전보장회의는 대통령이 주재한다. 모든 국민은 근로의 의무를 진다. 국가는 근로의 의무의 내용과 조건을 민주주의원칙에 따라 법률로 정한다.</div>
                        <div class="m-top-50 inline-block">
                            <a href="#" class="btn btn-medium  btn-dark-solid ">
                                Email your Question
                            </a>
                            <a href="#" class="btn btn-medium btn-dark-solid ">
                                Send us a Tweet
                            </a>
                        </div>
                    </div>
                    <!--title-->

                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-content">
                            <div class="text-center">
                                <h3 class="text-uppercase">Basic (5)</h3>
                            </div>
                            <!-- accordion 2 start-->
                            <dl class="accordion">
                                <dt>
                                    <a href="">why i will purchase massive theme to build my projec
                                    </a>
                                </dt>
                                <dd>
                                    <p>
                                        국무총리는 국회의 동의를 얻어 대통령이 임명한다. 국가는 모성의 보호를 위하여 노력하여야 한다. 국가는 과학기술의 혁신과 정보 및 인력의 개발을 통하여 국민경제의 발전에 노력하여야 한다. 대통령은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의 책임이 면제되지는 아니한다.
                                    </p>
                                    <p>
                                        Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue
                                        laoreet elit metus eget diam. Proin ac metus diam.
                                    </p>
                                </dd>
                                <dt>
                                    <a href="">How to install or modify this theme?</a>
                                </dt>
                                <dd>
                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. leo quam aliquet diam, congue laoreet elit metus eget diam.
                                </dd>
                                <dt>
                                    <a href="">how to deposit money in themeforest to purchase massive</a>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin ac metus diam.
                                </dd>

                                <dt>
                                    <a href="">can i get support after purchasing this theme?
                                    </a>
                                </dt>
                                <dd>
                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                </dd>
                                <dt>
                                    <a href="">What kind of security do you provide through massive</a>
                                </dt>
                                <dd>
                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. leo quam aliquet diam, congue laoreet elit metus eget diam.
                                </dd>
                            </dl>
                            <!-- accordion 2 end-->
                        </div>
                        <div>
                            <div class="text-center">
                                <h3 class="text-uppercase">Technical (5)</h3>
                            </div>
                            <!-- accordion 2 start-->
                            <dl class="accordion">
                                <dt>
                                    <a href="">why i will purchase massive theme to build my projec
                                    </a>
                                </dt>
                                <dd>
                                    <p>
                                        Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue
                                        laoreet elit metus eget diam. Proin ac metus diam.
                                    </p>
                                </dd>
                                <dt>
                                    <a href="">How to install or modify this theme?</a>
                                </dt>
                                <dd>
                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. leo quam aliquet diam, congue laoreet elit metus eget diam.
                                </dd>
                                <dt>
                                    <a href="">How to install or modify this theme?</a>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin ac metus diam.
                                </dd>

                                <dt>
                                    <a href="">how to deposit money in themeforest to purchase massive
                                    </a>
                                </dt>
                                <dd>
                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                </dd>

                            </dl>
                            <!-- accordion 2 end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--body content end-->
</div>

<script>
$(document).ready(function(){
  $table = $('#faqTable').DataTable({
  });
});
</script>
