<!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->

<div class="wrapper">
    <!--page title start-->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-uppercase">공지사항 / FAQ</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">공지사항 / faq</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <!--body content start-->
    <section class="body-content ">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <!--title-->
                        <div class="heading-title-alt border-short-bottom text-center ">
                            <h3 class="text-uppercase">공지사항</h3>
                            <br>
                        </div>
                        <!--title-->
                        <div class="col-md-1"></div>
                        <div class="table-responsive col-md-10">
                            <table class="table cart-table" id="faqTable">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">#</th>
                                        <th style="width:55%;">제목</th>
                                        <th style="width:20%;">올린날짜</th>
                                        <th style="width:15%;">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @notice.each_with_index do |p, index| %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td>
                                            <a href="/show_notice/<%= p.id %>"><%= p.title %></a>
                                        </td>
                                        <td><%= p.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                                        <td><%= p.view_count %></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <% if user_signed_in? %>
                            <% if current_user.level == "master" %>
                            <a href="/mastermenu/write_notice" class="btn btn-xs btn-light-solid ">공지작성</a>
                            <% end %>
                            <% end %>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="text-center col-md-12">
                            <ul class="pagination custom-pagination">
                                <li>
                                    <a href="#">Prev</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="page-content">
                                <div class="text-center">
                                    <h3 class="text-uppercase">자주 묻는 질문</h3>
                                </div>
                                <!-- accordion 2 start-->
                                <dl class="accordion">
                                    <dt>
                                        <a href="">셀러들은 어떻게 마켓에 지원하나요?</a>
                                    </dt>
                                    <dd>
                                        <p>
                                          셀러지원 탭에 들어가 열려있는 마켓에서 필요로 하는 정보를 입력하고 지원하기를 누르면 됩니다.<br>
                                          자신이 채워넣은 정보에 따라 점수가 나뉘어 질 수 있으니 성의 있게 입력 후 지원해주세요
                                        </p>
                                    </dd>
                                    <dt>
                                        <a href="">어떻게 플래너로 지원하나요?</a>
                                    </dt>
                                    <dd>
                                      <p>
                                        현재로써는 사업자 등록번호가 있는 분들에 한해 지원할 수 있습니다.<br>
                                        개인정보와 사업자 번호, 장소들을 확인한 후 마스터들이 플래너로 지정해드립니다.<br>
                                        완료되는데까지 보통 하루에서 이틀정도 시간이 걸립니다.
                                      </p>
                                    </dd>
                                    <dt>
                                        <a href="">플래너들은 어떻게 마켓을 올리나요</a>
                                    </dt>
                                    <dd>
                                      <p>
                                        마켓등록하기 탭에 들어가 정보를 입력하고 등록을 하면 됩니다.<br>
                                        마켓 시작시간, 종료시간, 인원 등을 입력하는데 있어서 조심해서 입력해주세요.
                                      </p>
                                    </dd>

                                    <dt>
                                        <a href="">셀러 입장에서 생각할때 플래너들이 자신의 정보를 빼가는 것 같은데 어떻게 방지하나요?</a>
                                    </dt>
                                    <dd>
                                        <p>심사기간 외에는 채점, 아이템 열람등이 불가능하고 이를 도용한 사실이 알려진 경우<br>강제 탈퇴 및 민사적 처벌에 이를 수 있습니다.</p>
                                    </dd>
                                </dl>
                                <!-- accordion 2 end-->
                            </div>
                        </div>
                    </div>

                    <div class="container">

                        <div class="heading-title-alt border-short-bottom text-center ">
                            <h3 class="text-uppercase">Question!</h3>
                            <div class="half-txt">질문이 있을 때는 여기 적혀있는 곳을 이용해주세요!<br>최대한 빠르게 도와드리겠습니다</div>
                        </div>

                        <div class="row page-content">
                            <div class="col-md-4">
                                <div class="featured-item text-center">
                                    <div class="icon">
                                        <i class="icon-map"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>location</h4>
                                    </div>
                                    <div class="desc">
                                        22212 Incheon Namgu Inharo 100
                                        <br/>
                                        High-tech anywhere
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item text-center">
                                    <div class="icon">
                                        <i class="icon-mobile"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>call us</h4>
                                    </div>
                                    <div class="desc">
                                        Any time. We are open 24/7
                                        <br/>
                                        010-4000-7134
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item text-center">
                                    <div class="icon">
                                        <i class="icon-envelope"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>mail us</h4>
                                    </div>
                                    <div class="desc">
                                        get support via email
                                        <br/>
                                        master@gongbang.in
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form class="contact-comments" action="" method="post">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="phonenumber *" maxlength="100">
                                            </div>
                                        </div>

                                        <div class="col-md-6 form-group">
                                            <div class="form-group">
                                                <!-- Comment -->
                                                <textarea name="content" id="content" class="cmnt-text form-control" placeholder="content" maxlength="400"></textarea>
                                            </div>
                                            <div class="form-group full-width">
                                                <button type="submit" class="btn btn-small btn-dark-solid ">
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!--body content end-->
</div>

<script>
$(document).ready(function(){
  $table = $('#faqTable').DataTable({
  });
});
</script>
