<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase">심사하기</h4>
                <ol class="breadcrumb">
                    <li>
                        <a>내가올린마켓</a>
                    </li>
                    <li class="active">
                        <a>심사하기</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<div class="wrapper">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="heading-title-alt text-center">
                    <h1 class="text-uppercase">Judgement</h1>
                    <span class="text-uppercase">공정한 심사로 마켓의 신뢰성을 높여봅시다</span>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="alert danger-border text-center">
                            <i class="fa fa-lg fa-warning"></i>
                            <strong style="font-size:20px;">읽어주세요!</strong><br/><br/>
                        <li>
                            <strong>심사는 공정하게! 항목에 맞게! 채점해 주셔야 합니다.</string>
                        </li>
                        <li>
                            <strong>공정하지 않은 채점은 플래너 정지의 사유가 될 수 있습니다.</strong>
                        </li>
                        <li>셀러들의 개인정보를 다른 목적으로 사용하실 경우 정지 사유가 됩니다.</li>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-offset-2 col-xs-8">
                <div class="divider divider-small d-solid d-single text-center">
                    <span class="dot"></span>
                </div>
                <div class="heading-title-alt text-center">
                    <h3 class="text-uppercase">셀러 지원자 리스트</h3>
                    <span class="text-uppercase"></span>
                </div>
                <br>
                <table class="table cart-table">
                    <thead>
                        <tr>
                            <th style="width:6%;">등수</th>
                            <th style="width:15%;">티어</th>
                            <th style="width:15%;">이름</th>
                            <th style="width:15%;">이메일</th>
                            <th style="width:10%;">정보보기</th>
                            <th style="width:15%;">심사하러가기</th>
                            <th style="width:10%;">심사결과</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @join_user.each_with_index do |p, index| %>
                        <tr>
                            <th scope="row"><%= index+1 %></th>
                            <td style="color:<%= p.user_tier %>"><%= p.user_tier %></td>
                            <td>
                                <%=p.user_name%>
                            </td>
                            <td><%= p.user_email %></td>
                            <td>
                                <a href="/showinfo/<%=p.user_id%>">정보보기</a>
                            </td>
                            <td>
                                <a href="/judge_fleas/show/<%=@flea.id%>/<%=p.id%>">심사하러가기</a>
                            </td>
                            <td><%=p.score%>점</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
